<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/main.css">
    <style>
       
    </style>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="header" id="title"> </h1>
        
        <div class="home">
            <div class="full-hero hero-home">  
             
             
                <ul class="social-list">
                  <li>
                   <a href="https://www.reddit.com/r/OffTheTape/" class="social-link" target="_blank"><i class="fab fa-reddit-alien"></i></a>
                 </li>
                 <li>
                   <a href="https://twitter.com/OffTheTape" class="social-link" target="_blank"><i class="fab fa-twitter"></i></a>
                 </li>
               </ul>
               -->
               
               
               
               <div class="bio-box">
                 <img src="https://pbs.twimg.com/profile_images/1293597689578430470/aCWj91ia_400x400.jpg" />
              
               </div>
               
               <div class="bio-info">
                 
                 <h2 class="name">Mathew Seal</h2>
                <div class="desc"> Biologist | Biotechnology | Web Developer?! </div>
                 

               </div>
          
               
             </div>
       
            <div class="home-callout">
        
                <div class="callout-copy">
       
                </div>
            </div> 
         
           <div class="home-section">
           
             <div class="about-section">
               <div class="section-inner">
                 <h2> About</h2>
                 <div class="section-inner">
                 Hello my name is Mathew Seal, I've always enjoyed technology/science and as a result I went to school and received a diploma for Biotechnology, 
                 and then went and got my bachelors degree in Biology where; notably I also took the first year of Computer Science as electives.
                Since then I've worked several years on medical devices in this field, first with a start-up and then with a large corporation. 
                </div>
                <div class="section-inner">
                While pandemic restrictions surged all across my country and city, I decided to thoroghly expand my skill-set by jumping into the world of Web development. 
                This is where I am looking to switch careers and continuing to learn fun and exciting technologies.
                </div>

               </div>
             
             <div class="latest-section">
               <div class="section-inner">
                <h2>Projects</h2>
                <div class="section-inner">
                    <a href=""><h2>Shop App</h2></a>

                    This is a Node/Mongoose-Database app which is a storefront. Including such features as database capture, products, carts, orders, and administration restrictions. 

                </div>
                <div class="section-inner">
                    <a href=""><h2>Recipe App</h2></a>

                    This is a simple app which allows you to create your own recipe which saves in realtime to your browser.
                    Key features include adding/deleting recipe, and adding ingredients which you can then toggle if you have/have-not. 

                </div>
                <div class="section-inner">
                    <a href=""><h2>Movie Favourite App</h2></a>

                    This is an API app which connects to a movie-search database with your parameters, you can then add movies to your favourite-list! Soon to be added is a share function.

                </div>
               </div>
             </div>  
             </div>   
             <div class= "secondary-section">
               
               <div class="contact">
                   
                 <div class="section-inner">
                  <h2> Contact</h2>
                 Mathew Seal
                 <br>email@gmail.com
                 <br>probably some more links
               </div>
               </div>
               
               <div class="skills">
                 <div class="section-inner">
                   <h2>Technical Skills</h2>
                   <ul>
                    <li>JavaScript</li>
                    <li>HTML5</li>
                    <li>CSS</li>
                    <li>node</li>
                    <li>Mongoose</li>

                    Experience in:
                    <li>Python</li>
                    <li>Java</li>
                   </ul>
                   
                 
                   
                 </div>
               </div>
             </div>
             
       
               
           </div>
             
             </div>
       </div>

<script> src="./main.js"</script>
</html>